@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Open+Sans:wght@300;400&display=swap');
$normal-font: 'Open Sans', sans-serif;
$serif-font: 'Merriweather', serif;

$white: #FFF;
$black: #333;
$primary: hsla(352, 48%, 39%, 1);
$secondary: hsla(132, 48%, 80%, 1);
$raspberry: hsla(355, 45%, 45%, 1);

$breakpoint-pc: 1200px;
