@import "./variables.scss";

.book-cards-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  padding: 0px 10px 20px 10px;

  width: 100%;
}
@media (min-width: $breakpoint-pc) {
  .book-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

    padding-top: 20px;
  }
}

.book-card {
  display: flex;

  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  padding: 5px;

  background: $white;
  box-shadow: 0 0 10px 1px hsla(0, 100%, 12%, 0.5);

  @media (min-width: $breakpoint-pc) {
    margin-top: 0;
  }

  .card-info {
    width: 70%;
  }
  .card-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    span {
      border-radius: 5px;
      padding: 5px;
    }
    span.un-read {
      background: #f7bebe;
    }
    span.read {
      background: #a8e7a8;
    }
  }
}

.book-info {
  list-style-type: none;
  padding-left: 5px;
  li {
    min-height: 26px;
  }
}

.book-title {
  font-size: 1.5em;
}
